@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
*@
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Left side with a large image -->
            <img src="/images/zeyLib.png" alt="Privacy Image" class="img-fluid" style="height:400px ; width:400px">
        </div>
        <div class="col-md-6">
            <!-- Right side with text -->
            <h2>How can we became so perfect?</h2>
            <p>To be the most beloved and preferred experience brand, serving as the greatest 
                supporter of people's mental liberation and personal development.</p>
            <h2>History of ZeyLibrary and ZeyBookStore</h2>
            <p>When ZeyLibrary was first established, it was introduced as a WinForms application on February 18, 2023.Now it continues with both names ZeyLibrary
                and ZeyBookStore.
                Despite being relatively unknown at the time, with incredible determination, effort, and the support of its admirers, it has come this far. 
                Pioneering groundbreaking innovations in online book purchasing and consistently making a name for itself at the top of the industry,
                ZeyLibrary was founded by the extraordinary Zeynep Sarı. Zeynep Sarı still proudly occupies the company's board of directors and continues to lead the company forward</p>
            <h2>Who is Zeynep Sarı?</h2>
            <p>
                Zeynep Sarı, a visionary and trailblazer, embodies a spirit of unwavering determination and passion. 
                Her exceptional leadership has not only shaped the success of ZeyLibrary but also left an indelible mark on the realms of innovation and personal growth.
            </p>
            <!-- Add more text or sections as needed -->
        </div>
    </div>
</div>
